<h1>Showing Article Details</h1>
<pre><strong>Title:   </strong><%=@article.title%></pre>
<pre><strong>Description:   </strong><%=@article.description%></pre>
<pre><strong>Author:  </strong><%=@article.author%></pre>